.cover {
  padding-top: 64px;
  position: relative;
  width: 320px;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover:hover {
  opacity: 0.2;
}

.cover__overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cover__background {
  position: absolute;
  z-index: 0;
  width: 320px;
  height: 254px;
  opacity: 70%;
}

.cover__info {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover__title {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 16px;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  margin: 0;
}

.cover__description {
  width: 280px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  text-align: center;
}

.cover__button {
  width: 198px;
  height: 48px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: #0278fe;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
  z-index: 3;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cover {
    padding-top: 92px;
    width: 100%;
    max-width: 768px;
    height: 746px;
  }
  .cover__background {
    width: 768px;
    height: 746px;
  }

  .cover__title {
    padding-top: 246px;
    padding-bottom: 32px;
    font-size: 72px;
    line-height: 76px;
  }
  .cover__description {
    font-size: 18px;
    line-height: 22px;
  }
  .cover__button {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1279px) {
  .cover {
    padding-top: 92px;
    width: 100%;
    max-width: 1184px;
    height: 740px;
  }

  .cover__background {
    width: 1184px;
    height: 740px;
  }

  .cover__title {
    padding-top: 243px;
    padding-bottom: 32px;
    font-size: 72px;
    line-height: 76px;
  }
  .cover__description {
    font-size: 18px;
    line-height: 22px;
  }

  .cover__button {
    margin-top: 32px;
  }
}
